main{
    display: flex;
    width: 100%;
    min-height: 100vh;
    background-color: #333;
}

.navbar-brand{
    font-size: 2rem;
}
#turno{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    left: 85%;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    border: 3px solid blueviolet;
    background-color: #333;
}
#seccion1{
    width: 30%;
}
#board{
    display: flex;
    align-items: center;
    justify-content: center;
}
#opciones{
    width: 100%;
    display: flex;
    flex-direction: column;
}
#seccion2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    padding-bottom: auto;
}

.col {
    background-color: lightblue;
    max-width: 100px;
    height: 100px;
    margin: 10px; 
    border-radius: 10px; 
    font-size: 2rem;
    transition: 0.5s;
  }
.col:hover{
    cursor: pointer;
    box-shadow: 0 0 30px violet;
}

.contenedor{
    width: 100%;
}
.container{
    position: relative;
    overflow: hidden;
    max-width: 50%;
    margin-left: 33%;
}

.board-preguntas{
    margin: 10%;
    width: 90%;
    height: 500px;
    padding: 5%;
    background-color: blueviolet;
    border-radius: 20px;
}
#pregunta{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 30%;
    background-color: rgb(209, 133, 158);
    color: #f4f4f4;
    border-radius: 20px;
    margin-bottom: 10%;
}
button{
    width: 90%;
    padding: 10px;
    background-color: rgb(38, 159, 240);
    color: #f4f4f4;
    margin: 3%;
    border: 2px solid #f4f4f4;
    transition: 0.3s;
}
button:hover{
    opacity: 70%;
}

@media only screen and (max-width: 1050px) {
    .col{
        max-width: 90px;
        height: 90px;
        margin: 8px;
    }
    .board-preguntas{
        width: 100%;
    }

}

@media only screen and (max-width: 850px) {
    main{
        flex-direction: column;
    }
    #seccion1{
        width: 90%;
    }
    #seccion2{
        width: 90%;
    }
    .board-preguntas{
        margin-left: 20%;
        margin-top: 3%;
        margin-bottom: 3%;
        height: 300px;
        width: 70%;
    }
    #pregunta{
        height: 50%;
    }
    #opciones{
        flex-direction: row;
        font-size: 0.5rem;
    }
    button{
        width: 30%;
    }
    .col{
        max-width: 90px;
        height: 90px;
        margin: 8px;
    }
    
}

@media only screen and (max-width: 645px){
    .col{
        max-width: 80px;
        height: 80px;
        margin: 6px;
    }
}

@media only screen and (max-width: 560px){
    .col{
        max-width: 50px;
        height: 50px;
        margin: 5px;
    }
}

@media only screen and (max-width: 360px){
    .col{
        max-width: 30px;
        height: 30px;
        margin: 3px;
    }
}